<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>

            <ion-col size="12">

                <!-- <ion-img src="./../../../assets/imgs/banner.png"></ion-img> -->
            </ion-col>

        </ion-row>
    </ion-grid>


    <hr class="new4">

    <!-- <h1 style="color: #2A1770;text-align: center;">Smart Blind Stick</h1> -->


    <ion-grid tappable>

    </ion-grid>



    <!-- <ion-footer> -->
    <!-- <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img src="./../../assets/icon/map-location.png">
                    <h3>Find Stick</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img src="./../../assets/icon/user.png">

                    <h3>Users List</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img src="./../../assets/icon/info.png">
                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img src="./../../assets/icon/phonebook.png">

                    <h3>Profile</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->


    <!-- </ion-footer> -->

</ion-content>