<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right:50px;">Sign In - Individual Account</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content class="ion-padding animated fadeIn login auth-page">
    <div class="login-content">

        <div padding-horizontal class="ion-text-center" class="animated fadeInDown" style="padding-top: 15%;">
            <div class="ion-text-center">
                <img src="../../assets/imgs/logo.png" style="height: auto;width: 300px;">
            </div>
            <h3 style="text-align: center;color: #2A1770;">Registration</h3>
        </div>



        <form class="list-form">
            <h3 style="text-align: center;color: #2A1770;">
                <p>Register As</p>
            </h3>
            <hr>
            <ion-item>
                <ion-label position="floating" style="color: #2A1770;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    SELLER
                </ion-label>
                <ion-input type="checkbox" [(ngModel)]="user.username" name="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #2A1770;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    BUYER
                </ion-label>
                <ion-input type="checkbox" [(ngModel)]="user.username" name="First Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #2A1770;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    COURIER
                </ion-label>
                <ion-input type="checkbox" [(ngModel)]="user.username" name="Last Name"></ion-input>
            </ion-item><br>

        </form>

        <div margin-top>
            <ion-text>
                A courier account allows you to find delivery jobs
            </ion-text>>
        </div><br>
        <!-- <div text-center margin-top>
        <span tappable [routerLink]="['/login']">
    <ion-text color="primary">Have an account? <strong style="color: #E78923">Login here</strong></ion-text>
  </span>
    </div> -->

    </div>
</ion-content>